* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    font-family: 'Archivo Narrow';
    background-color: #cdda8a;
}

/*header*/
header{
    background-image: url('../images/tulipbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: right;
    display:flex;
    justify-content: flex-end;
}
header div{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right:2%;
}
h1 {
    font-family: 'Julius Sans One';
    font-size: 5rem;
  
}

/*Navigation*/
nav ul{
    display:flex;
    justify-content: flex-end;

    
}
nav ul li{
    display:inline;
    margin:5px 20px;
    font-size: 2.5rem;
    font-family: 'Julius Sans One';
    
}

nav ul li a{
    text-decoration: none;
    color:#d15182;
    font-weight: bolder;
    font-size:1.3rem;
}


.section-title{
    width:20%;
    text-align: right;
    border-right: 1px solid black;
    margin:5px 10px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.section-title h2{
    font-weight: lighter;
    font-size: 3rem;
    padding:5px;
  
  
}

.section-content{
    width:70%;
    display:flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

}
/*flex rows*/
.flex-row{
    display:flex;
    justify-content: flex-start;
    margin:50px 15px;
}

/*About Section*/
#about-me p{
    width:75%;
}
.profile-image{
    max-width:20%;
    margin:15px;
}
img{
    max-width: 100%;
}

/*Projects*/

.project{
    min-width:30%;
    height:200px;
    display: inline-flex;
    flex-grow:1;
    align-items: center;
    justify-content: center;
    margin:5px;
    background-color: #fefefe;
}
.project a{
    color:#d15182;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}
.run-buddy{
    background-image: url('../images/runbuddy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow:4;
    flex-basis:500px;
}
