* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    font-family: 'Archivo Narrow';
    background-color: rgba(205,218,138,0.8);
}

/*header*/
header{
    background-image: url('../images/tulipbackground2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: right;
    display:flex;
    justify-content: flex-end;
    opacity:0.9;
}
header div{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    
}
h1 {
    font-family: 'Julius Sans One';
    font-size: 5rem;
    margin-right: 4%;
  
}

/*Navigation*/
nav ul{
    display:flex;
    justify-content: flex-end;

    
}
nav ul li{
    display:inline;
    margin:5px 20px;
    font-family: 'Julius Sans One';
    margin-right: 4%;
    
}

nav ul li a{
    text-decoration: none;
    color:#d15182;
    font-weight: bolder;
    font-size:1.3rem;
    margin-right: 4%;
}

/*section styles*/

.section-title{
    width:10%;
    border-left: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    margin-right:15px;
}

.section-title h2{
    font-weight: lighter;
    font-size: 3rem;
    
  
  
}

.section-content{
    width:85%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    
}
/*flex rows*/
.flex-row{
    display:flex;
    justify-content: flex-start;
    margin:50px 0;
}

/*About Section*/
#about-me p{
    width:75%;
}
.profile-image{
    max-width:20%;
    margin-right:15px;
    
   
}
img{
    width: 100%;
    border-radius: 15px;
}

/*Projects*/

.project{
    min-width:300px;
    height:200px;
    display: inline-flex;
    flex-grow:1;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    border-radius: 15px;
    margin:10px 10px 10px 0;
}
.project a{
    color:#d15182;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}
.run-buddy{
    background-image: url('../images/runbuddy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis:600px;
}

/*Contact*/
.contact-info{
    display:flex;
    justify-content: space-around;
}
#contact a{
    text-decoration: none;
    border-bottom: 1.5px solid #d15182;
    font-size:1.8rem;
    color: #d15182;
      
}
/*small desktops and smaller*/
@media screen and (max-width:980px){
    header{
        height:300px;
    }
    section{
        display:flex;
        flex-direction: column;
        align-content: center;
    }
    .section-title{
    width:100%;
    writing-mode: initial;
    transform:none;
    border:none;
    display:initial;
    text-align: center;
    border-bottom: 1px solid black;
    margin:0 0 20px 0;
    }
    .section-title h2{
    display:block;
    }
    .section-content{
    width:100%;
    }
}
/*tablets and smaller*/
@media screen and (max-width:768px){
}  
  

/*Mobile phones and smaller*/
@media screen and (max-width:575px){
.section-content{
    flex-direction: column;
}
.section-title{
    width:80%;
    margin:10px auto;
}
h1{
    font-size: 3rem;
}
.profile-image{
    max-width:80%;
    margin-bottom: 15px;
}
.project{
    margin:15px 0;
}
#about-me p{
    width:80%;
}
.run-buddy{
    flex-basis:initial;
}

}